*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: arial;
    font-size: 16px;
    margin: 10;
    background: #240e88;
    color: #000;

    display: flex;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.age-calculate{
    width: 100%;
    max-width: 600px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #6cbbfc 20%, #32024e);
}

.age-calculate h1{
    font-size: 36px;
    margin: 0 0 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.age-calculate input{
    width: 45%;
    font-family: arial;
    display: block;
    text-align: center;
    margin: 0 auto 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 0;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #ffffff, #afbff7);
}

.age-calculate button{
    width: 35%;
    display: block;
    margin: 0 auto 20px;
    font-size: 18px;
    padding: 7px;
    border-radius: 35px;
    border: 0;
    background: linear-gradient(to bottom, #36afff, #3b13eb);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

#calculate_age {
    font-size: 24px;
}
